body {
  display: flex;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

#logo {
  background-repeat: no-repeat;
  height: 135px;
  width: 150px;
  cursor: pointer;
}

.homepage {
  background-image: url(https://cdn2.vectorstock.com/i/1000x1000/16/81/night-sky-filled-with-stars-vector-10851681.jpg); 
  position: fixed;
  top: 0;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-shadow: 2px 2px rgba(255, 255, 255, 0.555);
}

#top-links {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 1%;
}

#analysis, #pole-reversal, #visual-display, #about-me, #contact{
  width: 20%;
  background-color: transparent;
  color: white;
  border-right: 2px solid rgba(255, 255, 255, 0.555);
  border-top: none;
  border-left: none;
  border-bottom: none;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
}


#paleomag-image {
  background-image: url(./PhotoResources/paleo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
}

#paleomag-info {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

#paleomag-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self:  center;
  height: 60%;
  justify-content: space-evenly;
  margin-top: 2%;
}

.paleomag-more-info {
  font-size: large;
  background-color: transparent;
  box-shadow: 0px 0px 5px 3px black;
  min-height: 10%;
  outline: none;
  cursor: pointer;
}

.paleomag-more-info:hover {
  background-color: rgba(215, 215, 224, 0.767);
}

#modal {
  margin-top: 2%;
  color: white;
  font-size: larger;
  display: flex
}
#close-paleomag-modal {
  margin-left: 96%;
  margin-top: -5%;
  background-image: url(./PhotoResources/modalCloseButton.png);
  background-repeat: no-repeat;
  width: 2%;
  height: 5%;
  background-size: 100%;
  border: none;
  outline: none;
  background-color: rgba(68, 68, 68, 0);
  cursor: pointer;
  position: absolute;
}

.modal-header {
  text-align: center;
  margin-top: -0.5%;
  text-decoration: underline;
  font-size: xx-large;
}

#articles {
  text-align: center;
}

#modal-iframe {
margin-left: 2%;
}

#sem {
  height: 70%;
  width: 55%;
  cursor: pointer;
  margin-top: 10%;
}
#sem  {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#sem:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

#microscope {
  height: 70%;
  width: 50%;
  cursor: pointer;
}
#microscope  {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#microscope:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#agfm {
  height: 70%;
  width: 65%;
  margin-left: 15%;
  margin-top: -3%;
  cursor: pointer;
}

#agfm  {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#agfm:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

#demag {
  height: 60%;
  width: 50%;
  cursor: pointer;
}


#demag  {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#demag:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

#tech {
  margin-left: 4%;
}

#magneto-img {
  background-image: url(./PhotoResources/bacteria.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

#magneto-title {
  height: 15%;
  font-size: x-large;
  font-weight: bold;
  opacity: 0.7;
  outline: none;
  background-color: lightskyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding-left: 1%;

}

#camera-image { 
  margin-right: 1%;
  height: 85%;
  width: 11%;
  cursor: pointer;
  background-image: url(./PhotoResources/cameraImage.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent
}

#camera-image:hover {
  opacity: 0.5;
}

.gcse-serach {
  z-index: 10;
}

#techName {
  margin-top: -20%;
  font-size: xx-large;
  background-color: transparent;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-popup {
  text-align: center;
  box-shadow: 0px 0px 2px 2px whitesmoke;
  width: 40%;
  height: 45%;
  margin: 4%;
 
}

.tech-popup {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.tech-popup:hover {
  -webkit-transform: scale(1.2);
transform: scale(1.2);
}

#close-tech-popup {
  height: max-content;
  position: absolute;
  margin-top: 10%;
  cursor: pointer;
  outline: none;
  background-image: url(https://lh3.googleusercontent.com/proxy/hb048qp8qA2ISlOV6rWuBUHyMPIQEIcSuyHY9jCQ9j5HGW7a6JhbvO7SIqgFYXTMwjhWuoNx4_91fGx6VJM-cxPJYGvz_WwYPKFN8qPFYWRAn3lTR6kTy1nkzhX1lFtO9W2krL2XYTIeWpk);
}

#techNameHeader {
  height: 30%;
  margin: 3%;
  width: 100%;
  font-size: large;
  font-family: 'Orbitron', sans-serif; 
  background-color: transparent;
  color: white;
}

#techNameHeader:hover {
  background-color: rgba(215, 215, 224, 0.767);
  
}

.all-paleomag-home {
display: flex;
flex-direction: row;
width: 100%;
height:120%;
position: absolute;
margin-top: 10%;
background-color: black;
}

.home-left {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding-left: 1%;
  padding-right: 1%;
}

.home-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 1%;
}

.top-right {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
  margin-bottom: 3%;
}


.about-paleomag {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.magneto-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2%;
}

.nasa {
  width: 52%;
  height: 100%;
  margin-right: 3%;
}

.tech {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
}

.articles {
  width: 100%;
  height: max-content;
  background-color: white;
  margin-bottom: 2%;
}

